/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/poppins-v15-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v15-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/poppins-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-900 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/poppins-v15-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v15-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
body{
    font-family: 'Poppins';
    margin: 0;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.home-section{
    background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-logo{
    margin-top: 30px;
}
.navbar-list{
    justify-content: center;
    margin-top: 46px;
}
.navbar-item {
    margin-right: 51px;
} 
ul{
    list-style-type: none;
}
.navbar-link{
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}
.button-block{
    margin-top: 33px;
}
.primary-button {
    padding: 18px 46px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 39px;
}
.home-content {
    margin-top: 174px;
}
.first-title{
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.home-content p{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #E5E5E5;
    margin-top: 27px;
}
.buttons {
    justify-content: center;
    margin-top: 71px;
}
.started-button{
    margin-right: 13px;
}
.started-button-white{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #112D57;
    border-radius: 39px;
    background-color: #FFFFFF;
    padding: 18px 46px;
    border: white;
}
.tryit-button-transp{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 39px;
    background-color: transparent;
    padding: 18px 46px;
}
.screen img{
    width: 1021.5px;
    height: 608px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*section FOR YOU*/
.for-you-title{
    width: 765px;
    font-weight: 500;
    font-size: 46px;
    line-height: 57px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;
    margin-top: 111px;
    margin-bottom: 101.5px;
    
}
.for-you-items{
    justify-content: space-between;
    margin-bottom: 138.5px;
    
}
.for-you-item{
    margin-right: 31px;
}
.for-you-item a{
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #03D6F3;
    text-decoration: none;
}

.simple-item{
    border: 1px solid #DEDEDE;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    align-items: flex-start;
    padding: 40px 50px;
    flex: 1;
    
}
.simple-item h3{
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: 0.1px;
    color: #000000;
}
.simple-item p{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #5C5C5C;
}
.atom-special{
    background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
    border: 1px solid #DEDEDE;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 50px;
    width: 286px;
}
.atom-special h3{
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.atom-special p{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.process-title{
    font-weight: 500;
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #000000;
    margin-bottom: 46px;
}
.process-info {
    justify-content: center;
    margin-right: 100px;
}
.process-info p{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #5C5C5C;
    margin-bottom: 36px;
    width: 480px;
}
.free-button-blue {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border: 0;
    padding: 18px 46px;
    background: #03D6F3;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
}
.free-button {
    margin-right: 22px;
}
.more-button-trans{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #30D7BA;
    padding: 18px 46px;
    background: #FFFFFF;
    border: 1px solid #30D7BA;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
}
.process-image img{
    width: 516px;
    height: 486px;
}
.perfect-info{
    justify-content: center;
}
.perfect-image img{
    width: 516px;
    height: 538px;
    margin-right: 100px;
}
.perfect-title {
    font-weight: 500;
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #000000;
    width: 524px;
    margin-bottom: 47px;
}
.perfect-info p{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #5C5C5C;
    width: 480px;
    text-align: left;
    margin-bottom: 37px;
}
.p-button-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 18px 46px;
    background: #03D6F3;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    border: 0;
}
.solution-info{
    justify-content: center;
}
.solution-title {
    font-weight: 500;
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #000000;
    width: 374px;
    margin-top: 116px;
    margin-right: 111.5px;
    
}
.solution-info p{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #5C5C5C;
    width: 301px;
    margin-top: 47px;
    margin-bottom: 37px;
}
.solution-image img{
    width: 752px;
    height: 535px;
    margin-top: 73px;
}
 .new-button{
    margin-right: 7px;
    margin-bottom: 106px;
}
.price-head{
    font-weight: 500;
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
   
}
.price-title p{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #5C5C5C;
    margin-bottom: 63px;
}
.item-title{
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    margin-bottom: 10px;
}
.price-item p{
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #5C5C5C;
    margin-bottom: 30px;
    text-align: center;
}
.price-item{
    margin-right: 33px;
}
.subscr{
    padding: 50px 36px 40px 40px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;

}
.price-number{
    justify-content: center;
}
.big-number{
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
    letter-spacing: 0.2px;
    color: #30D7BA;
    margin-right: 10px;
}
.small-number{
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: 0.1px;
    color: #30D7BA;
}
.education-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.function-list{
    justify-content: center;
    align-items: center;
}
.function-item a {
    text-decoration: none;
    
}
.function-link {
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #000000;
    
}
.function-item{
    margin-bottom: 20px;
}
.function1-link{
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #5C5C5C;
}
.order-button .free-button-blue{
    padding: 18px 82px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.border{
    border: 1px solid #CDCDCD;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 134px;
    margin-bottom: 51px;
    width: 868px;

}
.subscribe-title{
    font-weight: 500;
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #000000;
    text-align: center;
    margin-top: 72px;
}
.subscribe-section p{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #5C5C5C;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 69px;
}
.subscribe-block {
    justify-content: center;
    margin-bottom: 113px;
}
.subscribe-block input{
    width: 284px;
    margin-right: 10px;
}
.footer-section{
    background: #112D57;
}
.map-image img{
    border-radius: 22px;
    margin-top: 62px;
    margin-right: 95px;
    margin-bottom: 62px;
    
}
.footer-items {
    margin-top: 88px;
}
.footer-list{
    margin-right: 70px;
    margin-left: 0;
}
.footer-item{
    margin-bottom: 20px;
    width: 124px;
    height: 27px;
}
.footer-link{
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
    
}
.contacts-location{
    margin-top: 90px;
}
.contacts-location img{
    margin-right: 10px;
}
.contacts p{
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 244px;
}

.contacts-icons {
    margin-top: 45px;
}
.contacts-icons img{
    margin-right: 30px;
}
@media (max-width: 900px){
    .button-block{
        padding: 18px 29px;
    }
    .navbar{
        display: none;
    }
    .first-title{
        font-weight: 500;
        font-size: 46px;
        line-height: 57px;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .started-button{
        margin-bottom: 13px;
    }
    .started-button-white{
        padding: 18px 80px;
    }
    .tryit-button-transp {
        padding: 18px 80px;
    }
    .screen img{
        width: 364px;
        height: 224px;
        margin-top: 95px;
    }
    .for-you-title p{
       height: 228px;
        width: 282px;
    }
    .for-you-items{
        display: flex;
        flex-direction: column;
    }
    .for-you-item{
        margin-bottom: 64px;
    }
    .process-section {
        display: flex;
        flex-direction: column;
    }
    .process-title{
        width: 303px;
        height: 114px;
    }
    .process-info p{
        width: 335px;
        height: 80px;
    }
    .process-image{
        width: 463px;
        height: 395px;margin-bottom: 50px;
    }
    .blue-buttons{
        display: flex;
        flex-direction: column;
    }
    .free-button{
        margin-bottom: 22px;
    }
    .free-button-blue{
        padding: 18px 107px;
    }
    .more-button-trans{
        padding: 18px 116px;
    }


}

